colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11"
commitizen==3.13.0 ; python_version >= "3.10" and python_version < "3.11"
mypy==1.8.0 ; python_version >= "3.10" and python_version < "3.11"
pre-commit==3.6.0 ; python_version >= "3.10" and python_version < "3.11"
pylint==3.0.3 ; python_version >= "3.10" and python_version < "3.11"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.11"
